/* .navBar {
    display: flex; 
    align-items: center; 
    height: 5vh;
    width: 100%;
    margin-left: 0vh;
    margin-top: 0vh;
    background: rgb(193, 54, 54);
    overflow: hidden;
} */


/* .navBar .requestRadarChart {
  width: 5vw;
  height: 5vh;
  margin-left: 0.5vh;
} */

/* .navBar .requestSlider {
  width: 5vw;
  height: 5vh;
  margin-left: 8vh;
}

body {
  height: 6vh;
}

.navBar .textSearch {
  margin-left: 8vh;
  width: 18vh
} */
  
